<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xceed.Products.Wpf.Toolkit.AvalonDock" version="4.1.21122.16390" targetFramework="net471" />
  <package id="Xceed.Products.Wpf.Toolkit.AvalonDock.Themes" version="4.1.21122.16390" targetFramework="net471" />
  <package id="Xceed.Wpf.AvalonDock" version="4.1.21122.16390" targetFramework="net471" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Aero" version="4.1.21122.16390" targetFramework="net471" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Metro" version="4.1.21122.16390" targetFramework="net471" />
  <package id="Xceed.Wpf.AvalonDock.Themes.MetroAccent" version="4.1.21122.16390" targetFramework="net471" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Office2007" version="4.1.21122.16390" targetFramework="net471" />
  <package id="Xceed.Wpf.AvalonDock.Themes.VS2010" version="4.1.21122.16390" targetFramework="net471" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Windows10" version="4.1.21122.16390" targetFramework="net471" />
  <package id="Xceed.Wpf.Themes" version="4.1.21122.16390" targetFramework="net471" />
  <package id="Xceed.Wpf.Themes.Metro" version="4.1.21122.16390" targetFramework="net471" />
  <package id="Xceed.Wpf.Themes.Office2007" version="4.1.21122.16390" targetFramework="net471" />
  <package id="Xceed.Wpf.Themes.Windows10" version="4.1.21122.16390" targetFramework="net471" />
  <package id="Xceed.Wpf.Toolkit" version="4.1.21122.16390" targetFramework="net471" />
</packages>